*{
    overflow-x:hidden;
    margin:0;
}

body{
    overflow-x:hidden;
    margin:0;
}

.head{
    background-color:rgb(45,45,45);
    height:10vh;
    width:100vw;
    display:flex;
    justify-content:center;
    align-items:center;
}

.head > a{
    display:flex;
    justify-content:center;
    align-items:center;
}

.head_logo{
    height:9vh;
}

.before_middle{
    height:2.5vh;
    background-color:aliceblue;
}

.after_middle{
    height:7.5vh;
    background-color:aliceblue;
}

.middle{
    height:80vh;
    width:100vw;
    display:flex;
    flex-flow:column;
    align-items:center;
    justify-content:center;
    background-color:aliceblue;
}

.middle > a{
    height:12.5vh;
    width:85vw;
    margin:1vh;
    border:solid dimgray 10px;
    background-color:whitesmoke;
    border-radius:100px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:4vh;
    text-align:center;
    font-family:'Kosugi',monospace;
    text-decoration:none;
    color:black;
}